<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--
      Path to the XML file that stores remote host definitions.
      A relative path is resolved from the application's executable directory.
      You can also supply an absolute path, e.g.:
        C:\ProgramData\RdpSolution\hosts.xml
    -->
    <add key="HostsConfigPath" value="hosts.xml" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>
